/*button style elements*/
button {
  font-size: 1.38em;
  font-weight: bold;
  font-family: penfonts;
  padding-bottom: 1%;
  color: navy;
  align-items: center;
  align-content: center;
}

/*use of the background image accross pages*/
#paper {
  background-image: url(../images/paper.jpg);
  background-repeat: vertical;
  background-size: cover;
  background-position: center;
}

/*creation and use of font face to be used in other tags*/
@font-face {
  font-family: penfonts;
  src: url(../fonts/nikotinusDEMO.otf);
}

/*body elements use the pen font*/
body {
  font-family: penfonts;
  color: navy;
  overflow: hidden;
}

/*style the ammo element for the UI (its called paper in the game))*/
#follow_player {
  position: absolute;
  z-index: 100;
  border: .2rem solid black;
  background-color: #ffffff;
  padding-bottom: 1%;
  font-size: 2.4em;
  display: flex;
  transform: translate(0, 100%);
  flex-direction: column;
}

/*style the score element for the UI*/
#Score {
  position: absolute;
  z-index: 99;
  border: .2rem solid black;
  background-color: #ffffff;
  padding-bottom: 1%;
  font-size: 2.4em;
  display: flex;
}

/* Loader in between pages for the game */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 5.4em;
  height: 5.4em;
  margin: -4.56em 0 0 -4.56em;
  border: 0.96em solid #AAAAAA;
  border-radius: 50%;
  border-top: 0.96em solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* webkit for devices that dont support CSS animations*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*animate the loading bar*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

/*webkit to do the same for unsupported browsers */
@-webkit-keyframes animatebottom {
  from {
    bottom: -6em;
    opacity: 0
  }

  to {
    bottom: 0em;
    opacity: 1
  }
}

/*once loaded animate test to fade in from the botton up*/
@keyframes animatebottom {
  from {
    bottom: -6em;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

/* Style for virtual buttons */
.virtual-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.6em;
  border: none;
  border-radius: 0.3em;
  margin: 0.6em;
  cursor: pointer;
  min-width: 3em;
  flex: 1;
  align-content: centre;
}

/* Style for container for the touch controls */
#virtual-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#virtual-container {
  position: fixed;
  bottom: 3.6em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#loading {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

h2 {
  font-size: 3.6em;
  position: absolute;
  left: 50%;
  top: calc(50% + 1em);
  transform: translate(-50%, -50%);
  margin-bottom: 1.2em;
}

h3 {
  font-size: 3em;
  position: absolute;
  left: 50%;
  top: calc(50% + 3em);
  transform: translate(-50%, -50%);
  margin-bottom: 1.2em;
}
h4 {
  font-size: 3em;
  position: absolute;
  left: 50%;
  top: calc(50% + 4.5em);
  transform: translate(-50%, -50%);
  margin-bottom: 1.2em;
}

#overlay {
  position: absolute;
  display: flex;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 1.2em;
  background-color: whitesmoke;
  opacity: 0.9;
  text-align: center;
}


#retryButton {
  font-size: 1.8em;
  position: absolute;
  top: 50vh;
  left: 48vw;
  padding: 0.6em 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}